html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  /* Use a system font, if none are available use an available sans-sarif   font */
  background-color: #d3d3d3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 10%;
}

span {
  margin-left: 1%;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  font-size: 20px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-size: 20vw;
  margin: 0;
}

#s, #m, #n {
  font-size: 130%;

}

#s{
  color: #070;
}

#s:hover{
  color: #0a0;
}

#i{
  color: #700;
}

#i:hover{
  color: #a00;
}

#m{
  color: #000;
}

#o{
  color: #770;
}

#o:hover{
  color: #aa0;
}

#n{
  color: #007;
}

#n:hover{
  color: #00a;
}

#board-container {
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  display: grid;
  padding: 3.5vw 0 0 3.5vw;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: 45vw 45vw;
  background-color: #000;
  height: 100vw;
  width: 100vw;
  gap: 3vw;
  border-radius: 50%;
}

#start-reset {
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-reset > button{
  width: 10rem;
  padding: 0.5rem 0;
  margin: 1rem 0;
}

#green {
  background-color: #070;
  border-color: #050;
  border-top-left-radius: 100%;
}

#red {
  background-color: #700;
  border-color: #500;
  border-top-right-radius: 100%;
}

#yellow {
  background-color: #770;
  border-color: #550;
  border-bottom-left-radius: 100%;
}

#blue {
  background-color: #007;
  border-color: #005;
  border-bottom-right-radius: 100%;
}

@media only screen and (min-width: 700px) {
  #title {
    font-size: 15rem;
  }

  .message {
    font-size: 35px;
  }

  #board-container {
    height: 50rem;
  }

  #board-cover {
    background-color: #111;
    border: solid #000 2rem;
    height: 20rem;
    width: 27.2rem;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    left: 18.5rem;
    bottom: 36rem;
  }

  #board {
    padding: 1rem 0 0 2rem;
    grid-template-columns: 31rem 31rem;
    grid-template-rows: 22rem 22rem;
    background-color: #000;
    height: 100%;
    width: 68rem;
    gap: 2rem;
    border-radius: 50%;
  }
}